@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Thasadith');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
.infoheader{
    background-color: #013243;
    height: 35px;
    width: 100%;
    /*padding-top: 7px;*/
}
.infoheader .leftinfo{
    float: left;
    width: 70%; 
    height: 35px;
}
.infoheader .leftinfo ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 7px 0;
}
.infoheader .leftinfo ul li{
    display: inline;
    padding:7px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.infoheader .leftinfo ul li i{
    display: inline;
    color: #fff;
    font-size: 12px;
}
.infoheader .leftinfo ul li p{
    display: inline;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
}
.infoheader .rightinfo{
    float: left;
    width: 30%; 
}
.infoheader .rightinfo ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
}
.infoheader .rightinfo ul li{
    display: inline;
}
.infoheader .rightinfo ul li a{
    display: inline-block;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    width: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
}
.infoheader .rightinfo ul li:first-child{
    display: inline-block;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.5);  
    padding-left: 3px;
    font-size: 19px;
    transition: 0.5s;
}
.infoheader .rightinfo ul li:first-child :hover{
    color: blue;
    transition: 1000ms;
}
.infoheader .rightinfo ul li i{
    display: inline-block;
    height: 100%;
    color: #fff;
}
.body{
    width: 70%;
    height: 400px;
    margin:140px 30px 30px 70px;
    border: 1px solid darkgrey;
    transform: skew(0deg, 5deg);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.body .userphoto{
    width: 35%;
    float: left;
}
.body .userphoto img{
    background-size: cover;
    width: 100%;
    height: 400px;
}
@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen;
  }
  header{
      width: 100%;
  }
  .infoheader{
      width: 100%;
     /* background-color: blue;*/
  }
}