@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|ZCOOL+KuaiLe&display=swap');
$maxMobile: '(max-width: 767px)';
$minScreen: '(min-width: 768px)';
$medScreen: '(min-width: 992px)';
$lrgScreen: '(min-width: 1200px)';


$redColor: #e2494c;
$greyColor: #9c9c9c;

$float-left: left;
$float-right: right;

$kuaileFont : 'ZCOOL KuaiLe', cursive;
$libreFont: 'Libre Baskerville', serif;

$text-right: right;
$text-left: left;