*{
    @include prefixer(box-sizing, border-box, webkit moz);
}
.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$minScreen} {
        width: 750px;
    }
    @media #{$medScreen} {
        width: 970px;
    }
    @media #{$lrgScreen} {
        width: 1170px;
    }
}
.clearfix{
    clear: both;
}
.text-center-xs {
    @media #{$maxMobile}{
        text-align: center;
    }
}